<li class='d-flex justify-content-between align-items-center w-100'>
  
  <span class="profile-link">
    <%= link_to user.name,  user_path(user), class: 'profile-link h4' %>
  </span>
   <%= friendship_button(user) %> 

</li>